.parallaxRes {
    background-image: url(../images/background-grey.png);
    background-repeat:  no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 50%;
}

.res-content {
    height: 100%;
    font-size: 36px;
    color: white;
}

.sub-content-res {
    background: black;
    color: white;
    height: 1000px;
}

.res-list-item {
    color: black;
    text-align: left;
}

.res-btn-contain{
    text-align: center;
}

.res-headers {
    text-align: center;
    height: 450px;
}

.res-row {
    text-align: center;
    padding-bottom: 4rem !important;
}